@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}

body {
  margin: 0;
}
